



/*****************************************************************************************\
			$$ Components - Web Serial Theme
\*****************************************************************************************/


/*
 * == UI
 */

/* switching box model for all elements */
*
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html
{
	font-size: 62.5%;
	background-color: $colorset_page-regular-background;
}

body
{
	@include typo-s;
	margin: 0;
	overflow-x:	hidden;
	overflow-y: visible;
	background-color: $colorset_page-regular-background;
	line-height: 1.4;
	font-family: $fontstack-main;
	color: $colorset-main_grey-dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media #{$media-desktop-small} {

	}
}

header a
{
	padding: 0 0.6rem;
	border: 1px solid transparent;
}

header a:hover
{
	text-decoration: none;
	border-radius: 0.2rem;
	border: 1px solid $colorset_page-regular-background-shadow;
	background-color: rgba(0,0,0,0.06);
}

header menu li
{
	display: inline-block;
}

header .logo
{
	font-size: 1.8rem;
	// margin-top: 0.6rem
}

header menu
{
	margin:0.6rem 0;
	padding-left: 0;
}

footer
{
	padding: 0.9rem 0.9rem 1.2rem;
	border-top: 1px solid $colorset_page-regular-background-shadow;
}

/* ++ Forms */
button
{
	border: 1px solid $colorset_page-regular-background-shadow;
	border-radius: 0.2rem;
	// color: $colorset-main_grey-dark;
	background-color: transparent;
}


/*
 * == Typography
 */

/* you shall not pass */
p, textarea, table, td, th, code, pre, samp
{
	word-wrap: break-word;
			hyphens: auto;
}

p
{
	margin: 0;
}

ul + p
{
	margin-top: $canon;
}

a
{
	color: $colorset-main_grey-dark;
	text-decoration: none;
}

a:hover
{
	color: lighten(saturate($colorset-main_grey-dark, 20), 20);
	text-decoration: underline;
}

a:visited
{
	color: desaturate(adjust-hue($link, 50), 16);
}

strong
{
	font-weight: 700;
}

small
{
	@include typo-xs;;
}

hr
{
	border: none;
}

/* ++ Headings */
h1, h2, h3, h4, h5, h6
{
	@include txtcenter;
	margin: 0;
	font-weight: bold;
	cursor: text;
	color: $colorset-main_grey-dark;
}

h2 + h3
{
	padding-top: 1.6rem;
}

/* ++ Lists */
ul, ol
{
	padding-left: 2.4rem;
	margin-top: 0;
	margin-bottom: 0;
}

ol > li
{
	margin-left: 1.2rem;
}

li:first-child
{
	margin-top: 0;
}

li > li:first-child
{
	margin-top: 0;
}

li > p
{
	display: inline;
	margin-left: -0.4rem;
}

li > img
{
	display: inline-block;
	margin: 0 1px -1px;
}

dl
{
	padding: 0;
}

dl dt
{
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}

dl dt:first-child
{
	padding: 0;
}

dl dt > *:first-child
{
	margin-top: 0;
}

dl dt > *:last-child
{
	margin-bottom: 0;
}

dl dd
{
	margin: 0 0 15px;
	padding: 0 15px;
}

dl dd > *:first-child
{
	margin-top: 0;
}

dl dd > *:last-child
{
	margin-bottom: 0;
}

/* ++ Pictures */
img
{
	max-width: 100%;
}

/* ++ Citations */
blockquote
{
	border-left: 4px solid #DDD;
	padding: 2.4rem 0 0;
	color: #777;
}

blockquote > *:first-child
{
	margin-top: 0;
}

blockquote > *:last-child
{
	margin-bottom: 0;
}

/* ++ Code */
code, .tt
{
	display: inline-block;
	padding: 0 5px;
	border: 1px solid lighten($colorset-main_grey-light, 13%);
	margin: 0 2px;
	border-radius: 3px;
	line-height: 1.2;
	font-family: $fontstack-code;
	font-weight: 500;
	white-space: nowrap;
	text-indent: 0;
	background-color: lighten($colorset-main_grey-lighter, 1%);
}

pre > code, code
{
	margin: 0;
	padding: 0;
	white-space: pre-wrap;
	border: 0;
	background: transparent;
}

pre
{
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 19px;
	padding: 2.4rem 0 0;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre code, pre .tt
{
	background-color: transparent;
	border: 0;
}

sup, sub, a.footnote
{
	font-size: 1.4ex;
	height: 0;
	line-height: 1;
	vertical-align: super;
	position: relative;
}

sub
{
	vertical-align: sub;
	top: -1px;
}

/* ++ Tables */
table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
	font: inherit;
}

table th
{
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 6px 13px;
}

table td
{
	border: 1px solid #ccc;
	padding: 6px 13px;
}

table tr
{
	border-top: 1px solid #ccc;
	background-color: #fff;
}

table tr:nth-child(2n)
{
	background-color: #f8f8f8;
}