doctype html
html(lang="en")
	head
		title= "Ascension | Une Fan Fiction séialisée inspirée par Worm"
		style
			include ../_out/Web Serial.css
	body
		h1 Ascension
		H2 Éclosion 1.1
		include:markdown-it index.md